@import '../../Scss/inheritence.scss';

.projects {
    &__list {
        position: relative;
        grid-column: 1/3;
        grid-row: 2/8;


        button {
            border: 1px solid black;
            transition: .3s;
            margin: 0 12px;
        }
        &::after {
            @extend %v-line;
            right: 0;
            height: 200%;
            animation: $line-during slideInFromUp;
        }
        &::before {
            @extend %v-stick;
            top: -20%;
            right: 0;
            animation: $stick-during slideInFromUp;
        }
        &--btn-underline {
            @extend %h-line;
            animation: $stick-during slideInFromLeft;
            transition: 0.6s;
        }
        & h3 {
            margin-bottom: 0;
            line-height: 32px;
        }
        & button:hover .projects__list--btn-underline {
            background: #7beec7;
        }
    }

    &__title {
        position: relative;
        grid-column: 3/9;
        grid-row: 1/2;
        &--left {
            width: 50%;
            float: left;
        }
        &--right {
            width: 50%;
            float: right;
        }
        &::before {
            @extend %h-line;
            bottom: 0;
            animation: $line-during slideInFromRight;
        }

        h3 {
            line-height: 32px;
            text-align: center;
            max-width: 80%;
        }
    }
    &__descriptions {
        position: relative;
        grid-column: 3/6;
        grid-row: 2/8;
        &::after {
            @extend %v-line;
            right: 0;
            bottom: 0;
            height: 150%;
        }
        .descr-text {
            overflow-y: scroll;
            height: 100%;
            margin: 0 10px;
            margin-right: 0;
        }
        .links {
            display: flex;
            justify-content: space-around;
            a:hover {
                color: #7beec7;
            }
        }
    }
    &__visual {
        position: relative;
        grid-column: 6/9;
        grid-row: 2/8;
        height: 100%;
        overflow-y: scroll;
        img {
            width: 100%;
        }
        svg {
            .st0 {
                stroke-dasharray: 1760 ;
                animation: 3s ease-out 0s 1 animate-svg-body;
            }
            .st1 {
                stroke-dasharray: 840;
                animation: 3s ease-out 0s 1 animate-svg-head;
            }
            path {
                stroke: black;
                fill: none;
                opacity: 10;
            }
        }
    }
    &__back {
        cursor: url(../../assets/arrow-up.svg), pointer;
        position: relative;
        grid-column: 9/10;
        grid-row: 1/10;
        &--vertical {
            writing-mode: vertical-lr;
            text-orientation: mixed;
            animation: 2.4s ease-out 0s 1 showText;
        }
        &--v-line {
            position: absolute;
            background-color: #7beec7;
            width: 3px;
            height: 100%;
            bottom: 0;
            left: -3px;
            transition: 0.6s;
            opacity: 0;
        }
    
        &:hover > &--v-line {
            animation: createline linear 60s;
            opacity: 1;
        }
        &::after {
            @extend %v-line;
            left: 0;
            animation: $line-during slideInFromUp;
        }
    }

    &__filter {
        position: relative;
        grid-column: 1/9;
        grid-row: 8/10;

        h3 {
            line-height: 32px;
        }

        a {
            color: #7beec7;
            font-weight: 400;        
        }
        &::before {
            @extend %h-line;
            top: 0;
            animation: $line-during slideInFromLeft;
        }
        &--left {
            width: 25%;
            float: left;
            height: 100%;
        }
        &--right {
            flex-direction: row;
            flex-wrap: wrap;
            width: 75%;
            float: right;
            height: 100%;

            h3 {
                margin: 0 26px;
            }
        }
    }
}

.projects__list button.active {
    border-color: #7beec7;
}


@media screen and (max-width: 524px) {
    .projects {
        &__back {
            grid-column: 1/10;
            grid-row: 9/10;
            &--vertical {
                writing-mode: horizontal-tb;
            }
            &::after {
                width: 100%;
                height: 1px;
                top: 0;
                animation: $line-during slideInFromLeft;
            }
        }
        &__filter {
            h3 {
                margin-left: 2vw;
                font-size: 3.7vw;
                line-height: 4vh;
            }
            grid-column: 1/10;
            grid-row: 8/9;
            &--left {
                display: none;
            }
            &--right {
                width: 100%;
            }
        }
        &__list {
            grid-column: 8/10;
            grid-row: 2/8;
            overflow-y: scroll;
            overflow-x: hidden;
            h3 {
                margin-left: 2vw;
                font-size: 3.7vw;
                line-height: 4vh;
            }
        }
        &__descriptions {
            grid-column: 1/8;
            grid-row: 2/5;
            h3 {
                margin-left: 2vw;
                font-size: 3.7vw;
                line-height: 4vh;
            }
        }
        &__visual {
            grid-column: 1/8;
            grid-row: 5/8;
            &::after {
                content: '';
                position: absolute;
                background-color: black;
                width: 100%;
                height: 1px;
                animation: 2s ease-out 0s 1 slideInFromLeft;
                left: 0;
            }
        }
        &__title {
            grid-column: 1/10;
            grid-row: 1/2;
            display: flex;
            justify-content: space-around;
            align-items: center;
            &::before {
                animation: 2s ease-out 0s 1 slideInFromLeft;
            }
            h3 {
                margin-left: 2vw;
                font-size: 3.7vw;
                line-height: 4vh;
            }
            &--right {
                display: none;
            }
            &--left {
                width: 100%;
            }
        }
    }
    .active > hr {
        transform: none;
    }
}