@import '../../../Scss/inheritence.scss';
.welcome {
    position: relative;
    grid-column: 3/10;
    grid-row: 1/4;
    text-align: center;
    
    &::before {
        @extend %h-line;
        bottom: 0;
        animation: $line-during slideInFromRight;
    }
}

