@import '../../../Scss/inheritence.scss';
.welcome {
    position: relative;
    grid-column: 3/10;
    grid-row: 1/4;
    text-align: center;
    
    &::before {
        @extend %h-line;
        bottom: 0;
        animation: $line-during slideInFromRight;
    }
    .introduce {
        display: none;
        font-size: 6.4vw;
        color: #7beec7;
        font-weight: 400;
    }
}

@media screen and (max-width: 524px) {
    .welcome {
        background: white;
        z-index: 100;
        grid-column: 1/10;
        grid-row: 4/7;
        h1 {
            line-height: 4vh;
            font-size: 7.4vw;
        }
        &::before {
            width: 100%;
            animation: $line-during slideInFromRight;
        }
        &::after {
            content: '';
            position: absolute;
            background-color: black;
            width: 100%;
            height: 1px;
            animation: $line-during slideInFromRight;
            top: 0;
        }
        .introduce {
            display: block;
        }
    }
}

