@import '../../../Scss/inheritence.scss';
.about-nav {
    cursor: url(../../../assets/arrow-down.svg), pointer;
    position: relative;
    grid-column: 1/3;
    grid-row: 1/10;
    &__text {
        display: flex;
        align-items: center;
        &--big-letter {
            font-size: 90px;
            font-weight: 100;
            display: block;
            writing-mode: vertical-lr;
            text-orientation: mixed;
            transform: rotate(180deg);
            span {
                font-size: 28px;
            }
        }
    }

    &::before {
        @extend %h-stick;
        width: 100%;
        top: 0;
        animation: $stick-during slideInFromLeft;
    }

    &::after {
        @extend %v-line;
        right: 0;
        animation: $line-during slideInFromDown;
    }

    &--v-line {
        position: absolute;
        background-color: #7beec7;
        width: 3px;
        height: 100%;
        top: 0;
        right: 0;
        transition: 0.6s;
        opacity: 0;
    }

    &:hover > &--v-line {
        animation: createline linear 60s;
        opacity: 1;
    }
}


