.about {
    grid-column: 1/3;
    grid-row: 1/10;
    border-right: 1px solid black;
    &__text {
        display: flex;
        align-items: center;
        &--big-letter {
            font-size: 90px;
            font-weight: 100;
            display: block;
            writing-mode: vertical-lr;
            text-orientation: mixed;
            transform: rotate(180deg);
            span {
                font-size: 28px;
            }
        }
    }
}

.main {
    cursor: pointer;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
}