.hello {
    position: relative;
    grid-column: 1/3;
    grid-row: 1/7;
    &__text {
        z-index: 100;
        display: flex;
        align-items: center;
        &--big-letter {
            font-size: 7vw;
            font-weight: 100;
            display: block;
            writing-mode: vertical-lr;
            text-orientation: mixed;
            transform: rotate(180deg);
        }
    }
}

@media screen and (max-width: 680px) {
    .hello {
        &__text {
            &--big-letter {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 524px) {
    .hello {
        span, h2 {
            display: none;
        }
        position: relative;
        grid-column: 1/2;
        grid-row: 1/10;
        &::after {
            z-index: -10;
            overflow: hidden;
            content: '';
            position: absolute;
            background-color: black;
            height: 100%;
            width: 1px;
            right: 0;
            animation: 3s ease-out 0s 1 slideInFromUp;
        }
        h2 {
            line-height: 5vh;
            font-size: 8vw;
            .mob {
                display: none;
            }
        }
    }
}