html { overflow:  hidden; }
body {
    cursor: url(./assets/cursor.svg), auto;
    font-family: "Montserrat", sans-serif;
    p, h1, h2, h3, h4, h5, h6, span {
        font-weight: 300;
        font-family: "Montserrat", sans-serif;
        margin: 10px;
    }

    p {
        text-transform: uppercase;
        font-size: 20px;
    }

    h1 {
        font-size: 54px;
    }

    h2 {
        font-size: 46px;
    }
    h3 {
        font-size: 23px;
        line-height: 50px;
        animation: 3s ease-out 0s 1 showTitle;
    }
    hr {
        border: none;
        margin: 0;
    }
    button {
        position: relative;
        cursor: url(./assets/cursor.svg), auto;
    }
}

.centered {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.main {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
}




