@import '../../../Scss/inheritence.scss';
.projects-nav {
    cursor: url(../../../assets/arrow-down.svg), pointer;
    position: relative;
    grid-column: 3/6;
    grid-row: 4/10;
    span {
        font-size: 2.7vw;
        color: #64bea0;
    }
    &::after {
        @extend %v-line;
        right: 0;
        top: 0;
        animation: $line-during slideInFromDown;
    }
    
    &--v-line-left {
        position: absolute;
        background-color: #7beec7;
        width: 2px;
        height: 101vh;
        top: -35vh;
        left: 0;
        transition: 0.6s;
        opacity: 0;
    }

    &--v-line-right {
        position: absolute;
        background-color: #7beec7;
        width: 3px;
        height: 100%;
        top: 0;
        right: 0;
        transition: 0.6s;
        opacity: 0;
    }
    &--h-line {
        position: absolute;
        background-color: #7beec7;
        width: 100%;
        height: 2px;
        top: 0;
        left: 0;transition: 0.6s;
        opacity: 0;
    }

    &:hover > &--v-line-left {
        animation: createline-left linear 60s;
        opacity: 1;
    }

    &:hover > &--v-line-right {
        animation: createline-right linear 60s;
        opacity: 1;
    }
    &:hover > &--h-line {
        animation: createline-h linear 60s;
        opacity: 1;
    }
}

@media screen and (max-width: 524px) {
    .projects-nav {
        grid-column: 2/10;
        grid-row: 7/9;
        &::after {
            display: none;
        }
        h3 {
            font-size: 3.7vw;
            line-height: 4vh;
            span {
                font-size: 5.7vw;
            }
        }
        hr {
            display: none;
        }
    }
}